# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# All Windows thumbnails (Custom)
*.db
Thumbs.db

# Mac junk
.DS_Store

# IDE configuration
.project
.classpath
.metadata/
.settings/
.idea/
.vscode/
*.iml

# Target folder (Custom)
target/

# Python compiled bytecode
__pycache__
*.pyc
# Python virtual environments
.venv/
