__pycache__/
node_modules/
bukkit/bin/
bukkit/target/
bukkit/lib/*.jar
!mcsvr/clean.py
!mcsvr/start-server-linux.sh
!mcsvr/start-server-win.bat
!mcsvr/build-linux.sh
mcsvr/*
# idea
out
*.ipr
*.iws
*.iml
.idea
# gradle
build
.gradle
package-lock.json
/others/
